html
  head
    title China Bistro
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/restaurant.css')
    link(rel='stylesheet', href='css/common.css')
      
  body(ng-app='chinaBistroApp')
    loading.loading-indicator
    header
      nav#header-nav.navbar.navbar-default
        .container
          .navbar-header
            
              a(href='index.html').pull-left.visible-md.visible-lg
                #logo-img(alt='logo img')
              
              .navbar-brand: p
                img(src='images/star-k-logo.png')
                span Kosher Certified
              
              button#navbarToggle.navbar-toggle.collapsed(type='button', data-toggle='collapse' data-target='#collapsable-nav' aria-expanded='false')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
          
          #collapsable-nav.collapse.navbar-collapse
            ul#nav-list.nav.navbar-nav.navbar-right
              li#navHomeButton.visible-xs
                a(href='index.html')
                  span.glyphicon.glyphicon-home
                  span Home
              
              li#navMenuButton(ui-sref-active='active')
                a(ui-sref='public.menu')
                  span.glyphicon.glyphicon-cutlery
                  br.hidden-xs
                  span Menu
              li: a(ui-sref='public.myinfo')
                  span.glyphicon.glyphicon-info-sign
                  br.hidden-xs
                  span My Info
              li: a(ui-sref='public.signup')
                  span.glyphicon.glyphicon-certificate
                  br.hidden-xs
                  span Sign Up
              li#phone.hidden-xs
                a(href='tel:410-602-5008')
                  span 410-602-5008
                div * We deliver
    
    #call-btn.visible-xs
      a.btn(href='tel:410-602-5008')
        span.glyphicon.glyphicon-earphone
        span 410-602-5008
        
    #xs-deliver.text-center.visible-xs * We deliver
    
    ui-view
      .text-center.initial-loading: h2 Loading site...
      
    footer.panel-footer: .container
      .row
        section#hours.col-sm-4
          span hours
          br
          span Sun-Thurs: 11:15am - 10:00pm
          br
          span Fri: 11:15am - 2:30pm
          br
          span Saturday Closed
          hr.visible-xs
          
        section#address.col-sm-4
          span Address:
          br
          span 7105 Reisterstown Road
          br
          span Baltimore, MD 21215
          p * Delivery area within 3-4 miles, with minimum order of $20 plus $3 charge for all deliveries.
          hr.visible-xs
            
        section#testimonials.col-sm-4
          p "The best Chinese restaurant I've been to! And that's saying a lot, since I've been to many!"
          p "Amazing food! Great service! Couldn't ask for more! I'll be back again and again!"
      
      .text-center &copy; Copyright David Chu's China Bistro 2016 |
        a(ui-sref='admin.auth'): span Admin
        
        
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='bower_components/angular/angular.min.js')
    script(src='bower_components/angular-ui-router/release/angular-ui-router.min.js')
    script(src='bower_components/ngStorage.min.js')
    
    //- Main module
    script(src='app.js')  
    //- Common module
    script(src='common/common.module.js')
    script(src='common/loading/loading.component.js')
    script(src='common/loading/loading.interceptor.js')
    script(src='common/menu.service.js')
    script(src='common/user.service.js')
    
    //- Public module
    script(src='public/public.module.js')
    script(src='public/public.routes.js')
    script(src='public/menu/menu.controller.js')
    script(src='public/menu-category/menu-category.component.js')
    script(src='public/menu-items/menu-items.controller.js')
    script(src='public/menu-item/menu-item.component.js')
    //- script(src='public/signup/signup.controller.js')
    //- script(src='public/my-info/my-info.controller.js')
    
      
      
